body {
  background-image: url("../images/mercury-background.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

section {
  background: none;
  border-radius: 5px;
  box-shadow: 0 10px 20px;
  margin: 50px;
  width: 40%;
  color: white;
  padding: 20px;
}

img {
  border-radius: 50px;
  padding: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.title {
  color: aliceblue;
  text-align: center;
}

footer {
  text-align: center;
  color: aliceblue;
}

.navbar {
  position: fixed;
  width: 100%;
}
